<!DOCTYPE html>
<head>
  <title>ChatBot for Calzedonia cashiers</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='Calzedonia-logo.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

    <img src="{{ url_for('static', filename='Calzedonia-logo.png') }}" class="icon" />
  <style>
    .chat-container {
        width: 400px;
        margin: 0 auto;
    }

    .staff-message {
        background-color: white;
        color: black;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 10px;
        text-align: right;
        border: 2px solid #D9BAAD;
    }

    .bot-message {
        background-color: #D9BAAD;
        color: black;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 10px;
        text-align: left;
    }
</style>
  <h1>Chat with an AI simulated customer!</h1>
</head>

<body>
    <div class="chat-container">
      {% for message in result %}
        {% if message['role'] == 'Staff' %}
          <div class="message staff-message">
            {{ message['content'] }}
          </div>
        {% else %}
          <div class="message bot-message">
            {{ message['content'] }}
          </div>
        {% endif %}
      {% endfor %}

      <form action="/" method="post">
        <input type="text" name="input" placeholder="Your say" required>
        <input type="submit" value="SUBMIT">
      </form>
    </div>
</body>
